<div class="app-shell">
  <app-search-hero [selectedMode]="selectedMode"></app-search-hero>

  <section class="notice-band">
    <div class="container notice-inner">
      <div>
       <h3> 🎉 Welcome to a Smarter Shohoz Login!</h3>
        <p>If you're an existing user, just reset your password once to continue</p>
        <p>Now access Bus, Air, and Park with a single Shohoz account. Easy and secure!</p>

     
      </div>
      <button class="reset-btn">Reset Password</button>
    </div>
  </section>

  <main class="container main-content pb-5">
    <h2 class="trend-title">Discover Trending Destinations</h2>

    <div class="trend-grid">
      <div class="trend-card card-a"></div>
      <div class="trend-card card-b"></div>
      <div class="trend-card card-c"></div>
    </div>
  </main>

  <button class="side-cta">Book Bus Tickets on WhatsApp</button>
  <button class="wa-fab">WA</button>
</div>
